<div class="col-md-5">
  <div id='input'>
    <h3>Enter your link here: </h3>
    <form>
      <input type="text" name="input" class='form-control' placeholder='http://www.longassname.com/?q=whatever&f=something&w=this%20stuff%20is%20long...'>
      <br>
      <input type="submit" value='Shorten!' class='btn btn-info'>
    </form>
  </div>
</div>

<div class="col-md-5 col-offset-2">
  <div id='output'>

    <h3>Your shortened link:</h3>
    
  </div>
</div>